@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ip.onedaynerd.com</h1>
    <p>This site is where I'm cutting my teeth on .Net Core. It's very simple. It displays the visitor's (your) public IP address.</p>
    <p>Vistitor IP Address: @ViewBag.IPAddress</p>
</div>
